:root {
	--background-color: hsl(51, 58%, 86%);
	--color: hsl(222, 35%, 19%);
}


body {
	font-family: system-ui;
	color: var(--color);
	background-color: var(--background-color);
}

a {
	color: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}